# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/

# Virtual Environment
.venv/

# Docker
*.db
*.sqlite3
dist/
build/
*.egg-info/

# Data
/data/raw/
/data/processed/
/data/reports/

# OS
.DS_Store
Thumbs.db 